#description {
  font-weight: bold;
}
/* footer css */

#adults {
  width: 150px;
}

#RadissonBluHotelDetails img {
  height: 500px;
  width: 500px;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
#hotelDescription {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 2%;
}

#DetailPaymentForm {
  margin-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
/* check4 */
