.logo {
  height: 60px;
  width: 60px;
}

/* footer css */
.SocialMedia #media {
  width: 22px;
  height: 20px;
}
#adults {
  width: 150px;
}

.rootDiv {
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
}
#RadissonBluHotelDetails img {
  height: 500px;
  width: 500px;
}
