.SearchImages img {
  width: 150px;
  height: 150px;
  border-radius: 25%;
}
.SearchImages {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  padding: 4%;
}

.SocialMedia #media {
  width: 22px;
  height: 20px;
}
/* check4 */

.searchDiv {
  height: 380px;
  background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg')
    center/cover;
}

/* searchBar getting in center css*/
.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchDiv input {
  background-color: #f1f1f1;
  padding: 1%;
  font-size: 16px;
  border-radius: 12px;
  height: 2%;
  border: 1px solid transparent;
  width: 20em;
}

/* content inside the content div css */
.viewMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
