/* map and list view styling */
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}
.list div:nth-of-type(1) {
  margin-right: 2%;
  font-weight: bold;
}
.list div:nth-of-type(2) {
  margin-left: 1%;
  font-weight: bold;
}

/* list as grid view */
#list-view {
  display: grid;
  grid-template-columns: auto auto;
}
/* #list-view {
  margin: 2%;
} */
#list-view .hotelContainer {
  background-color: lightgrey;
  margin: 10%;
}
#list-view img {
  height: 200px;
  width: 250px;
}

/* add some styles in list view */
.hotelContainer {
  display: flex;
  flex-direction: row;
}

.hotelContainer div:nth-of-type(2) {
  margin-left: 2%;
}

.active {
  background-color: #007bff;
  color: black;
}
.list .btn:hover {
  background-color: #007bff;
}

#list-view div .hotelContainer:hover {
  background-color: rosybrown;
  text-decoration: none;
}
#hoverBlack:hover {
  color: black;
}
#hoverImage:hover {
  color: black;
}
.checked {
  color: orange;
}
